<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410432510822-095ct5oautvbtbnb0823nck8qhhabd9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410432510822-095ct5oautvbtbnb0823nck8qhhabd9d</string>
	<key>API_KEY</key>
	<string>AIzaSyCIdRLjv_PZ2ou4J3XrLpujv3w423X1zpk</string>
	<key>GCM_SENDER_ID</key>
	<string>410432510822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boot.vote</string>
	<key>PROJECT_ID</key>
	<string>vote-test-4b724</string>
	<key>STORAGE_BUCKET</key>
	<string>vote-test-4b724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410432510822:ios:2ad8997f72039f7022c6a7</string>
	<key>DATABASE_URL</key>
	<string>https://vote-test-4b724.firebaseio.com</string>
</dict>
</plist>